<li class="form-group form-horizontal form-inline form-snippet">
	<div class="col-sm-4 form-snippet-label-div">
		<label for="<%- name %>" class="control-label pull-right"><%- label.getLocalizedValue("en-US") %></label>
	</div>
    <div class="col-sm-7 form-snippet-value-div">
		<input class="form-control" id="<%- name %>" placeholder="<%- defaultValue.getPlaceholderLabel() %>" readonly style="background-color: white;"/>
	</div>
	<div class="col-sm-1 form-snippet-hamburger-div">
		<span class="drag-hamburger control-label pull-right"><span class="glyphicon glyphicon-menu-hamburger" /></span>
	</div>
</li>