<!-- Multiple Checkboxes (inline) -->
<div class="control-group">
  <label class="control-label" for="<%- name %>"> <% if (this.model.get("fresh")) { %> Checkbox <% } %></label>
  <div class="controls">
    <label class="checkbox inline" for="<%- id %>">
      <input type="checkbox" name="<%- id %>" id="<%- id %>" value="<%- label %>" <% if (defaultValue == true || defaultValue == "true") { %> checked <% } %>>
      <%- label %>
      <% if (description != null && description.length > 0) { %><p class="description-block text-muted"><small><%- description %></small></p><% } %>

    </label>
  </div>
</div>
