<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="<%- id %>"><%- label %></label>
  <div class="controls">
    <select id="<%- id %>" name="<%- id %>" class="Xlarge"><% _.each(options, function(option) { %>
      <option<% if (defaultValue != null && defaultValue.length >= 1 && defaultValue == option) { %> selected <% } %>><%- option %></option><% }); %>
    </select>
    <% if (description != null && description.length > 0) { %><p class="description-block text-muted"><small><%- description %></small></p><% } %>
  </div>
</div>
