body {
    padding-top: 50px;
}

input[type=checkbox] {
    transform: scale(1.2);
    position: absolute;
    margin-left: 2px;
}

hr{
    background-color: #9d9d9d;
}

ul {
    padding-left: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.navbar-btn{
    margin: 10px;
}

.form{
    width: 100%;
    height: 70vh;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: scroll;
}

.modal-body {
    max-height: 450px;
    overflow-y: scroll;
    margin-right: 0px;
}

.form-inline .form-control{
    width: 100%;
}

.form-bundle-version {
    margin-top: 5px;
    margin-bottom: 3px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 0;
}

.form-snippet{
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 0;
    height: 40px;
}

.form-snippet-value-div {
    padding-right: 0;
}

.form-snippet-hamburger-div{
    padding-left: 0;
}

.drag-hamburger {
    margin: 0;
    padding: 0;
}

.multiselect{
    padding: 0px;
    height: 85px;
    overflow-y: scroll;
}

.group{
    border-radius: 4px;

    margin-top: 15px;
    margin-bottom: 15px;

    background-color: #d4d4d4;
    margin-bottom: 15px;
    min-height: 100px;
    padding-bottom: 10px;

}

.list-group-item{
    height: 24px;
    padding-top: 0px;
    vertical-align: top;

}

.group-item{
    height: 35px;
    padding-top: 0px;
    vertical-align: top;
    font-size: 170%;
}

.arrayOptionEdit{
    height: 16px;
    width: 15px;
    margin-right: 2px;
    margin-top: 3px;
}

.arrayOptionRemove{
    height: 16px;
    width: 15px;
    margin-left: 3px;
    margin-top: 3px;

}

.arrayOptionEdit span{
    position: absolute;
    margin-top: 4px;
    margin-left: -6px;
}

.arrayOptionRemove span{
    position: absolute;
    margin-top: 4px;
    margin-left: -6px;
}

.group-item-btn{
    margin-top: 6px;
    margin-right: 5px;
}

.defaultValue-checkbox {
    transform: scale(1.2);
    margin-left: 22px;
    margin-top: 5px;
}

.date {
    width: 100%;
}

.constraintField {
    margin: 10px 0px;
}

.constraintSelectCheckbox {
    margin: 10px 0px 43px 0px;
}

#arrayElementModal {
    z-index: 9999;
}

#snippetModal {
    z-index: 5000;
}

#constraintModal {
    z-index: 6000;
}

li {
    list-style: none;
}

#checkboxValueText {
    margin-left: 20px;
}

.glyphicon-menu-hamburger {
    line-height: inherit;
}

.form-snippet-hamburger-div .glyphicon-remove {
    display: none;
    float: left;
    line-height: inherit;
    margin: 0 5px;
}

.form-snippet:hover .glyphicon-remove {
    display: block;
}