<!-- Array Element Modal -->

<div class="modal fade" role="dialog" id="arrayElementModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Element</h4>
            </div>
            <div class="modal-body row">
            <% if (model.collectionType == "arrayElement") { %>
                <!--Locale list-->
                <div class="form-horizontal form-group form-inline col-sm-12">
                    <label for="fieldLocale" class="col-sm-4 control-label">Locale</label>
                    <div class="col-sm-6">
                        <select id="optionFieldLocale" class="form-control">
                            <option>en-US</option>
                            <% model.localesCollection.each( function(locale) { %>
                            <option><%- locale.get("name") %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>

                <div class="form-horizontal form-group form-inline col-sm-12">
                    <label for="elementValue" class="col-sm-4 control-label">Label</label>
                    <div class="col-sm-6" id="labelValueDiv">
                        <input type="text" id="labelValue" class="form-control" placeholder="value" value="<%- model.localizedLabel.getLocalizedValue('en-US') %>"/>
                    </div>
                </div>

                <hr>
                <% } %>
                <% if (model.collectionType == "defaultValue") { %>
                <div class="form-horizontal form-group form-inline col-sm-12">
                    <label for="elementType" class="col-sm-4 control-label">Element Type</label>
                    <div class="col-sm-6">
                        <select id="elementType" class="form-control">
                            <% _.each(model.variableTypes, function(type) {%>
                            <% if(type.label == "Literal") { %>
                            <option><%- type.label %></option>
                            <% } else if (model.dataType.includes("String")) { %>
                            <option><%- type.label %></option>
                            <% }}) %>
                        </select>
                    </div>
                </div>
                <% } %>
                <div class="form-horizontal form-group form-inline col-sm-12">
                    <label for="elementValue" class="col-sm-4 control-label">Value</label>
                    <div class="col-sm-6" id="elementValueDiv">
                        <!-- user and device variables in a select go here -->
                        <!-- <input type="text" id="elementValue" class="form-control" placeholder="value" value="<%- model.get("value") %>"/> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="elementCancel">Close</button>
                <button type="button" class="btn btn-primary" id="elementSave">Save</button>
            </div>
        </div>
    </div>
</div>