<!-- Bundle ID and Version Number modal -->

<div class="modal fade" role="dialog" id="bundleVersionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Bundle ID &nbsp;|&nbsp; Version Number</h4>
            </div>
            <div class="modal-body row">
                <div class="form-horizontal form-group form-inline col-sm-12">
                    <label for="bundleId" class="col-sm-4 control-label">Bundle ID</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="bundleId" placeholder="Name" value="<%- bundle %>"/>
                    </div>
                </div>
                <div class="form-horizontal form-group form-inline col-sm-12">
                    <label for="versionNumber" class="col-sm-4 control-label">Version Number</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="versionNumber" placeholder="Name" value="<%- version %>"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="bundleVersionCancel">Close</button>
                <button type="button" class="btn btn-primary" id="bundleVersionSave">Save</button>
            </div>
        </div>
    </div>
</div>