<!-- Locales Modal (collection of locales) -->

<div class="modal fade" role="dialog" id="localesModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Locales</h4>
			</div>
			<div class="modal-body row">
				<div class="form-horizontal form-group form-inline col-sm-12">
					<div class="form-control multiselect" id="">
						<ul class="list-group" id="locales">
							<!--locales will be templated here -->


						</ul>
					</div>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-xs btn-default" id="localesAdd" data-array="defaultValue"><span class="glyphicon glyphicon-plus"></span>Add</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="localesCancel">Close</button>
				<!-- <button type="button" class="btn btn-primary" id="groupsSave">Save</button> -->
			</div>
		</div>
	</div>
</div>