<h3>About</h3>

<p>
	The AppConfig Spec Creator is a tool that assists iOS App Developers (ISVs) in the creation of “Spec Files” that describes the settings that are available in their apps.  Enterprise Mobility Management vendors (EMMs) can then utilize these “Spec Files” to expose intuitive user interfaces to IT Professionals that are deploying iOS apps throughout their enterprise.
</p>

<p>
	For further information regarding AppConfig for iOS, visit:
	<a href="http://appconfig.org/ios/">http://appconfig.org/ios/</a>
</p>
